.about {
  display: grid;
  place-content: center;
  height: 100vh;
  width: fit-content;
  margin: 20px auto 0;
  position: relative;
  .subtitle {
    text-transform: uppercase;
    font-size: var(--subtitle);
    color: var(--gray);
  }
  .about__title {
    font-size: 8rem;
    -webkit-text-stroke: 1.5px black;
    color: transparent;
    // text-align: center;
    font-weight: bold;
  }
  .second-title {
    margin-left: 100px;
  }
  &__container {
    .text-img__container {
      display: flex;
      // align-items: center;
      // justify-content: space-between;
      gap: 100px;
      .grey-ellipse {
        width: 650px;
        position: absolute;
        left: -60px;
        top: 50px;
        z-index: -1;
      }
      .text-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: var(--text-size);
        max-width: 600px;
        line-height: 1.3;
        .itemSlide {
          opacity: 0;
          &.visible {
            opacity: 1;
            animation: slide 1s;
          }
        }
        p {
          margin: 4px 0;
        }
        .redline__container {
          display: flex;
          margin: 10px 0;
        }
        .skills-area {
          font-size: var(--text-size);
          .skillsList__container {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            .skill__container {
              display: flex;
              flex-direction: column;
              align-items: center;
              figcaption {
                font-size: 1.3rem;
              }
            }
            img {
              width: 40px;
            }
          }
        }
      }
      .img-profile {
        width: 320px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100vw;
  //   left: 0;
  //   height: 5px;
  //   margin-top: 60px;
  //   background-color: black;
  //   display: block;
  // }
}
.outline {
  height: 5px;
  background-color: black;
  margin-left: var(--padding-left-right);
  margin-right: var(--padding-left-right);
}
