.about {
  display: grid;
  place-content: center;
  height: 100vh;
  width: fit-content;
  margin: 20px auto 0;
  .topSlide {
    opacity: 0;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: var(--subtitle);
    color: var(--gray);
  }
  .about__title {
    font-size: 8rem;
    -webkit-text-stroke: 1.5px black;
    color: transparent;
    font-weight: bold;
  }
  .second-title {
    margin-left: 100px;
  }
  &__container {
    .text-img__container {
      display: flex;
      gap: 100px;
      .text-area {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        font-size: var(--text-size);
        max-width: 600px;
        line-height: 1.3;
        .grey-ellipse {
          width: 650px;
          position: absolute;
          left: -60px;
          top: -130px;
          z-index: -1;
        }
        p {
          margin: 4px 0;
        }
        .redline__container {
          display: flex;
          margin: 10px 0;
        }
        .skills-area {
          font-size: var(--text-size);
          .skillsList__container {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            list-style: none;
            & li {
              transform: scale(1);
              transition: transform 50ms 50ms;
            }
            & li:hover {
              transform: scale(1.2) translateY(-10px);
              transition: transform 60ms;
            }
            .skill__container {
              display: flex;
              flex-direction: column;
              align-items: center;
              figcaption {
                font-size: 1.3rem;
              }
            }
            img {
              width: 40px;
            }
          }
        }
      }
      .img-profile {
        width: 320px;
        opacity: 0;
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
        }
        &.visible {
          animation: rightSlide 1s 1s;
          opacity: 1;
          transition: opacity 1s 1s;
        }
        .available-for-work {
          width: 180px;
          position: absolute;
          top: -60px;
          right: -30px;
          animation: rotation 25s infinite linear;

          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        }
      }
    }
  }
  &.visible {
    p.topSlide {
      &:nth-child(2) {
        opacity: 1;
        transition: opacity 0.5s 0.2s;
        animation: slide 1s 0.2s;
      }
      &:nth-child(3) {
        opacity: 1;
        transition: opacity 0.5s 0.4s;
        animation: slide 1s 0.4s;
      }
    }
    .text-area .topSlide {
      &:nth-child(1) {
        opacity: 1;
        transition: opacity 0.5s 0.6s;
        animation: slide 1s 0.6s;
      }
      &:nth-child(2) {
        opacity: 1;
        transition: opacity 0.5s 0.8s;
        animation: slide 1s 0.8s;
      }
      &:nth-child(3) {
        opacity: 1;
        transition: opacity 0.5s 1s;
        animation: slide 1s 1s;
      }
    }
    .text-area .skills__subtitle.topSlide {
      opacity: 1;
      transition: opacity 0.5s 1.2s;
      animation: slide 1s 1.2s;
    }
  }
}
.outline {
  height: 5px;
  background-color: black;
  margin-left: var(--padding-left-right);
  margin-right: var(--padding-left-right);
}

@include mqMax(1160px) {
  .about {
    justify-items: center;
    height: auto;
    padding-bottom: 80px;
    padding-top: 80px;
    .text-img__container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
      .text-area {
        max-width: 750px;
        font-size: var(--text-size-xl);
        .grey-ellipse {
          display: none;
        }
        .skills-area .skillsList__container {
          justify-content: space-between;
        }
      }
    }
  }
}

@include mqMax(785px) {
  .about .text-img__container .text-area {
    padding: 0 20px;
    font-size: var(--text-size-tablet);
    .skills-area {
      font-size: var(--text-size-tablet);
    }
  }
}

@include mqMax(630px) {
  .about {
    overflow-x: hidden;
    .about__container .text-img__container {
      .img-profile {
        width: 250px;
        .available-for-work {
          width: 140px;
          top: -40px;
          right: -25px;
        }
      }
      .text-area {
        max-width: none;
        font-size: var(--text-size-mobile);
        .skills-area {
          font-size: var(--text-size-mobile);
          .skillsList__container {
            display: grid;
            font-size: var(--text-size-mobile);
            grid-template-columns: repeat(6, 1fr);
            img {
              width: 35px;
            }
            figcaption {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .subtitle {
      font-size: var(--text-size-mobile);
    }
    .about__title {
      font-size: var(--title-mobile);
    }
  }
}

@include mqMax(400px) {
  .about .about__container .text-img__container .text-area .skills-area .skillsList__container {
    grid-template-columns: repeat(4, 1fr);
  }
}