.about {
  display: grid;
  place-content: center;
  height: 100vh;
  // width: fit-content;
  .second-title {
    margin-left: 100px;
  }
  &__container {
    .text-img__container {
      display: flex;
      align-items: flex-end;
      gap: 100px;
      .text-area {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        font-size: var(--text-size);
        max-width: 600px;
        line-height: 1.3;
        .subtitle {
          text-transform: uppercase;
          font-size: var(--subtitle);
          // color: var(--red);
        }
        .about__title {
          font-size: 7rem;
          // -webkit-text-stroke: 1.5px black;
          color: black;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .text {
          margin-bottom: 16px;
          line-height: 1.25;
        }
        .redline__container {
          display: flex;
          margin: 10px 0;
        }
        @include send-email;
        .send-email {
          margin: 16px 0 0;
        }
        .shift-line {
          @include shift-line;
          .slide {
            @include slide;
            transform: translateY(150%);
          }
        }
      }
      .img-profile {
        width: 420px;
        opacity: 0;
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
        }
        &.visible {
          animation: rightSlide 1s 1s;
          opacity: 1;
          transition: opacity 1s 1s;
        }
        .available-for-work {
          width: 180px;
          position: absolute;
          top: -60px;
          right: -30px;
          animation: rotation 25s infinite linear;

          @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
        }
      }
    }
  }
  &.visible .text-img__container .text-area {
    .shift-line .slide {
      transform: translateY(0%);
    }
  }
}
.outline {
  height: 5px;
  background-color: black;
  margin-left: var(--padding-left-right);
  margin-right: var(--padding-left-right);
}

@include mqMax(1160px) {
  .about {
    justify-items: center;
    height: auto;
    padding: 80px 0;
    .text-img__container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
      .text-area {
        max-width: 750px;
        font-size: var(--text-size-xl);
        .grey-ellipse {
          display: none;
        }
      }
    }
  }
}
@include mqMax(1159px) {
  .about .text-img__container .img-profile {
    display: none;
  }
}
@include mqMax(1024px) {
  .about {
    margin: 0;
    height: auto;
  }
}
@include mqMax(785px) {
  .about {
    padding: 0;
    .text-img__container .text-area {
      padding: 0 20px;
      font-size: var(--text-size-tablet);
      .subtitle {
        font-size: 1.3rem;
      }
      .about__title {
        font-size: var(--font-title-mobile);
      }
    }
  }
}

@include mqMax(630px) {
  .about {
    overflow-x: hidden;
    .about__container .text-img__container {
      .text-area {
        max-width: none;
        font-size: var(--text-size-mobile);
      }
    }
    .subtitle {
      font-size: var(--text-size-mobile);
    }
    .about__title {
      font-size: var(--title-mobile);
    }
  }
}

@include mqMax(400px) {
  .about .about__container .text-img__container .text-area {
    font-size: 1.5rem;
    .subtitle {
      font-size: 1.2rem;
    }
    .about__title {
      font-size: 5rem;
    }
    .send-email span {
      font-size: 1rem;
    }
  }
}
