.footer__container {
  height: 100vh;
  display: grid;
  place-items: center;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  .footer-text__container {
    text-align: center;
    margin-top: 100px;
    p:nth-child(1) {
      font-size: var(--text-size-tablet);
    }
    p:nth-child(2) {
      font-size: var(--footer-subtitle);
      text-transform: uppercase;
      font-weight: bold;
      .text-red {
        color: #f23333;
      }
    }
    .send-email {
      position: relative;
      padding: 10px 20px;
      border: 3px solid black;
      margin-top: 30px;
      background-color: transparent;
      width: 180px;
      height: 45px;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background-color: #f23333;
        border-color: #f23333;
        color: white;
        cursor: pointer;
        span {
          transform: translateX(-20px);
        }
        .arrow-img {
          opacity: 1;
          position: absolute;
          transform: translateY(-15px);
        }
      }
      span {
        font-size: 1.2rem;
        position: absolute;
        width: max-content;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 30%;
        transition: transform 0.2s ease-in-out;
      }
      .arrow-img {
        position: absolute;
        opacity: 0;
        bottom: 0;
        right: 10px;
        width: 10px;
        transition: 0.2s ease-in-out all;
      }
    }
  }
  .footer-contact__container {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-contact {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      .imageContact__container {
        list-style: none;
        width: 50px;
      }
      img {
        width: 100%;
      }
    }
    .footer-logo {
      width: 90px;
      img {
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
}

@include mqMax(1080px) {
  .footer__container .footer-contact__container {
    .footer-contact .imageContact__container {
      width: 40px;
    }
    .footer-logo {
      width: 85px;
    }
  }
}

@include mqMax(768px) {
  .footer__container
    .footer-contact__container
    .footer-contact
    .imageContact__container {
    width: 30px;
  }
}

@include mqMax(615px) {
  .footer__container {
    .footer-text__container {
      p:nth-child(2) {
        font-size: var(--footer-subtitle-mobile);
      }
      p:nth-child(1) {
        font-size: var(--text-size-mobile);
      }
      .send-email {
        width: 160px;
      }
      .send-email:hover span {
        transform: translateX(-10px);
      }
    }
    .footer-contact__container {
      .footer-contact .imageContact__container {
        width: 25px;
      }
      .footer-logo {
        width: 60px;
      }
    }
  }
}

@include mqMax(425px) {
  .footer__container {
    height: 60vh;
    .footer-text__container {
      p:nth-child(1) {
        font-size: var(--text-size-mobile-M);
      }
      p:nth-child(2) {
        font-size: var(--footer-subtitle-mobile-M);
      }
      .send-email {
        width: 120px;
        height: 35px;
        span {
          top: 35%;
          font-size: 0.9rem;
        }
        .arrow-img {
          width: 8px;
        }
        &:hover .arrow-img {
          transform: translateY(-10px);
        }
      }
    }
  }
}
