.home {
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  // padding-left: var(--padding-left-right);
  // padding-right: var(--padding-left-right);
  .title {
    font-size: var(--title-xl);
    color: transparent;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    // opacity: 0;
    &.visible {
      opacity: 1;
      animation: slide 1s;
    }
  }
  .home__info {
    font-size: var(--subtitle-xl);
    font-weight: bold;
    margin-bottom: 20px;
    // opacity: 0;
    &.visible {
      opacity: 1;
      animation: slide 1s;
    }
  }
  .text-red {
    color: red;
  }
  .availability {
    font-size: var(--text-size-xl);
    // opacity: 0;
    &.visible {
      opacity: 1;
      animation: slide 1s;
    }
  }
  .main-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    .imageContact__container {
      opacity: 0;
      width: 30px;
      list-style: none;
      img {
        width: 100%;
      }
    }
    .imageContact__container:nth-child(1) {
      // opacity: 0;
      &.visible {
        opacity: 1;
        transition: opacity .5s .3s;
        animation: slide .5s .3s;
      }
    }
    .imageContact__container:nth-child(2) {
      // opacity: 0;
      &.visible {
        opacity: 1;
        transition: opacity .5s .6s;
        animation: slide .5s .6s;
      }
    }
    .imageContact__container:nth-child(3) {
      // opacity: 0;
      &.visible {
        opacity: 1;
        transition: opacity .5s .9s;
        animation: slide .5s .9s;
      }
    }
  }
  .arrow-link {
    position: absolute;
    bottom: 10vh;
    opacity: 0;
    .arrow {
      left: 45vw;
      animation: arrow 1s ease-in-out infinite;
      width: 50px;
      cursor: pointer;
      @keyframes arrow {
        0% {
          transform: translate(0px, 50px);
        }
        50% {
          transform: translate(0px, 60px);
        }
        100% {
          transform: translate(0px, 50px);
        }
      }
    }
    &.visible {
      opacity: 1;
      transition: opacity 2s 1s;
    }
  }
}

@include mqMax(768px) {
  .home {
    .title {
      font-size: var(--title-tablet);
    }
    .home__info {
      font-size: var(--subtitle-tablet);
    }
    .availability {
      font-size: var(--text-size-tablet);
    }
    .main-contact .imageContact__container {
      width: 25px;
    }
    .arrow-link .arrow {
      width: 35px;
    }
  }
}

@include mqMax(425px) {
  .home {
    .arrow-link {
      display: none;
    }
    .title {
      font-size: var(--title-mobile);
    }
    .home__info {
      font-size: var(--subtitle-mobile);
    }
    .availability {
      font-size: var(--text-size-mobile);
    }
    .main-contact .imageContact__container {
      width: 20px;
    }
  }
}