.home {
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  padding-top: 150px;
  height: 100vh;
  a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }
  .home__title {
    font-size: 115px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 28px;
  }
  .homeDescription__container {
    display: flex;
    justify-content: space-between;
    .homeInfo__container {
      .link-contact {
        margin-bottom: 20px;
        display: inline-block;
        .email-contact {
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .shift-line {
        @include shift-line;
        width: auto;
        .home-subtitle {
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
        }
        .slide {
          @include slide;
        }
      }
    }
    .homeContact__container {
      margin-right: 65px;
      letter-spacing: 0.5px;
      .contact-text {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      @include social-links(var(--black));
    }
  }
  &::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #111;
    margin: 80px 0;
  }
  &.visible {
    .homeDescription__container .homeInfo__container .slide {
      transform: translateY(0%);
    }
  }
}
@include mqMax(1024px) {
  .home {
    height: auto;
  }
}

@include mqMax(900px) {
  .home {
    a {
      text-decoration: underline;
    }
    .home__title {
      font-size: 7rem;
    }
  }
}

@include mqMax(700px) {
  .home {
    padding-top: 100px;
    a {
      text-decoration: underline;
    }
    .home__title {
      font-size: var(--font-title-mobile);
    }
    .homeDescription__container {
      flex-direction: row;
      gap: 20px;
      .homeInfo__container {
        .shift-line .home-subtitle {
          font-size: 2rem;
          line-height: 1.5;
        }
      }
      .homeContact__container {
        .contact-text {
          font-size: 1.5rem;
        }
        .home__contact {
          display: block;
          .social-link:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
    &::after {
      margin: 50px 0;
    }
  }
}

@include mqMax(560px) {
  .home .homeDescription__container {
    flex-direction: column;
    .homeContact__container .home__contact {
      display: none;
    }
  }
}
