//burguer
$h-padding: 15px;
$h-width: 36px;
$h-height: 24px;
$h-background-color: transparent;
$h-line-height: 2px;
$h-border-radius: 4px;
$h-transition-time: 0.4s;
$h-transition-function: ease;
$h-transition-opacity: 0;
$h-vertical-gap: 13px;
$h-initial-opposition: 5px;
$h-hide-distance: $h-width + $h-padding;

:root {
  --backgroundColor: #1f1d36;
  --padding-left-right: calc((100vw + 80px) / 21);
  --subtitle: 2rem;
  --text-size: 2.2rem;
  --text-size-xl: 2.3rem;
  --title-project: 3.5rem;
  --subtitle-project: 1.8rem;
  --text-project: 1.4rem;
  --slide-ms-idx-1: .2s;
  --slide-ms-idx-2: .4s;
  --slide-ms-idx-3: .6s;
  --slide-ms-idx-4: .8s;
  --slide-ms-idx-5: 1s;
  --slide-ms-idx-6: 1.2s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
  @include mq(1918px) {
    max-width: 1918px;
    margin: 0 auto;
  }
}
abbr[title] {
  text-decoration: none;
}

.hide-a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes slide {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes rightSlide {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0%);
  }
}